<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>WE</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>com.googleusercontent.apps.202109880621-iu8vmf03qot622em0l5o6uec4vac5icf</string>
				</array>
			</dict>
		</array>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>instagram-stories</string>
			<string>facebook-stories</string>
			<string>facebook</string>
			<string>instagram</string>
			<string>twitter</string>
			<string>whatsapp</string>
			<string>tg</string>
			<string>https</string>
			<string>http</string>
			<string>mailto</string>
			<string>tel</string>
		</array>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>Haritada konumunuzu gostermek icin konum izninize ihtiyacimiz var.</string>
		<key>NSLocationAlwaysUsageDescription</key>
		<string>Haritada konumunuzu gostermek icin konum izninize ihtiyacimiz var.</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>Haritada konumunuzu gostermek icin konum izninize ihtiyacimiz var.</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>Fotoğraf çekebilmemiz için mikrofon izninize ihtiyacımız var.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>Profil fotoğrafı seçmek için fotoğraf erişimi izninize ihtiyacımız var.</string>
		<key>NSAppleMusicUsageDescription</key>
		<string>This app needs access to your Apple Music usage.</string>
		<key>io.flutter.embedded_views_preview</key>
        <true/>
        <key>NSCameraUsageDescription</key>
        <string>QR kodu okumanız için kamera izninize ihtiyacımız var.</string>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
		<key>UIStatusBarHidden</key>
		<false/>
	</dict>
</plist>